<%- include('../partials/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/datatables/datatables.min.css" />

<body>

  <%- include('../partials/nav.ejs',{user: user}) %>

  <!-- Main Content -->
  <main class="bh-main">
    <div class="container-fluid h-100">
      <div class="row justify-content-center h-100">
        <div class="col-md-3 col-xl-3 col-sm-12 bh-lists-wrapper">
          <div class="card bh-lists">
            <div class="card-header bh-card-header bh-msg-head">
              <div class="d-flex bd-highlight">

                <div class="bh-list-info">
                  <img src="/images/lists.svg">

                </div>
              </div>

            </div>
            <div class="card-body bh-lists-card-body">
              <ul class="list-group">
                <% lists.forEach(function(list){ %>
                <li class="list-group-item">
                 <a href="/chat/<%= list._id %>"> <%=list.name %> </a> 
                  <div class="bh-num-users">
                    <%= list.members.length %> <i class="fas fa-user"></i>
                  </div>
                </li>
                <%  }) %>


              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-9 col-xl-6 bh-chat-wrapper">
          <div class="card bh-card">
            <div class="card-header bh-card-header bh-msg-head">
              <div class="d-flex bd-highlight">

                <div class="bh-list-info bh-list-name" data-id="<%=list._id %>">
                  <span><%= list.name %></span>

                </div>
              </div>
              <div class="bh-items-to-buy">
                <button id="btn-item"></button>
              </div>
            </div>
            <div class="card-body bh-msg-card-body scroll">
              <% if(messages != null) { %>


              <% messages.forEach(function(message,index){ %>
              <% if (message.userObj._id.toString() == user._id) { %>
              <div class="d-flex justify-content-end mb-4 bh-msg-card-content-right"
                data-name="<%=message.userObj.email %>">
                <div class="bh-msg-container-send">
                  <%=message.msgObj.body %>
                  <span
                    class="bh-msg-time-send"><%=moment(message.msgObj.createdAt).format('MMMM Do YYYY, h:mm a')%></span>
                </div>
                <div class="bh-img-cont-msg">
                  <img src="<%if(message.userObj.avatar){ %>
 ../images/<%=message.userObj.avatar %> 
 <% }else { %> ../images/universal.png <%} %>" class="rounded-circle bh-user-img-msg">
                </div>
              </div>
              <% } else { %>
              <div class="d-flex justify-content-start mb-4 bh-msg-card-content-left"
                data-name="<%=message.userObj.email %>">
                <div class="bh-img-cont-msg">
                  <img src="<%if(message.userObj.avatar){ %>
 ../images/<%=message.userObj.avatar %> 
 <% }else { %> ../images/universal.png <%} %>" class="rounded-circle bh-user-img-msg">
                </div>
                <div class="bh-msg-container">
                  <%=message.msgObj.body %>
                  <span class="bh-msg-time"><%=moment(message.msgObj.createdAt).format('MMMM Do YYYY, h:mm a')%></span>
                </div>
              </div>

              <% } %>
              <%  }) %>
              <% } %>
            </div>
            <form>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" name="listId" value="<%= list._id %>">
              <div class="card-footer bh-card-footer">
                <div class="input-group">
                  <div class="input-group-append">
                    <span class="input-group-text bh-attach-btn"><i class="fas fa-paperclip"></i></span>
                  </div>
                  <textarea name="message" class="form-control bh-type-msg scroll"
                    placeholder="Type your message..."></textarea>
                  <div class="input-group-append" id="btn-submit-msg">
                    <button type="button" class="btn">
                      <span class="input-group-text bh-send-btn"><i class="fas fa-location-arrow"></i></span>

                    </button>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
        <div class="col-md-9 col-xl-6 bh-items-wrapper" style="display:none;">
          <div class="card bh-card">
            <div class="card-header bh-card-header bh-msg-head">
              <div class="d-flex bd-highlight">
                <div class="bh-items-info">
                  <span>Choose items to buy</span>
                </div>
              </div>
              <div class="bh-close-items-list">
                <i class="fas fa-times"></i>
              </div>
            </div>
            <div class="card-body bh-items-card-body">
              <div class="bh-list-items scroll">
                  <% if(list.ingredients.length != 0) { %>
                    <% list.ingredients.forEach(function(ing){ %>
                    <div class="bh-ing" data-ing-id="<%=ing._id%>">
                         <p><%=ing.name%></p>
                   </div>
                   <%  }) %>
                   <% }if(list.custom_ings.length !=0) { %>
                    <% list.custom_ings.forEach(function(ing){ %>
                    <div class="bh-ing" data-ing-name="<%=ing%>">
                      <p><%=ing%></p>
                   </div>
                <%  }) %>
                    <% }else { %>
                      <span class="do-items-text"> Add items to list</span>
                   <% } %>
                
              </div>
              <div class="accordion scroll">
               
                <% ings.forEach(function(cat,i){ %>
                <div class="card">
                  <div class="card-header">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#<%=i%>" aria-expanded="false" aria-controls="<%=i%>">
                        <%=cat.catName %>
                      </button>
                    </h5>
                  </div>
                  <div id="<%=i%>" class="collapse" aria-labelledby="<%=i%>">
                    <div class="card-body">
                      <% cat.data.forEach(function(ing){ %>
                        
                        <div class="bh-ing" data-ing-id="<%=ing.id%>">
                            <p>
                                <%= ing.name %>
                            </p>
                          
                        </div>
                       
                    <%  }) %>
                     
                    </div>
                  </div>
                </div>
                <%  }) %>
           
            
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- / Main Content -->


  <!-- / Main Content -->
  <%- include('../js/global_js.ejs') %>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    $(document).ready(function () {
      const socket = io();
      const loggedInUser = $('#bh-user').text();
      var base_url = window.location.origin;
      var listId = $('input[name=listId]').val();
      var csrfToken = $('input[name=_csrf]').val();
      $('textarea[name="message"]').keyup(function (event) {
        if (event.keyCode === 13) {
          $("#btn-submit-msg").click();
        }
      });
      $('#btn-submit-msg').on('keypress click', function (e) {
        var msg = $('textarea[name="message"]').val();
        $.ajaxSetup({
          headers: {
            "X-CSRF-Token": csrfToken
          }
        });
        $.ajax({
          type: "POST",
          url: base_url + "/chat/" + listId,
          data: {
            msg: msg,
            listId: listId
          },
          success: function (data) {


          },
          done: function () {

          }
        });
      });
      socket.on('message', data => {
        if (data.action == 'create') {
          var user = data.user;
          var msg = data.msg;
          var image;
          if (user.avatar) {
            image = '../images/' + user.avatar;
          } else {
            image = '../images/universal.png';
          }

          if (user.email === loggedInUser.trim()) {
            var content =
              '<div class="d-flex justify-content-end mb-4 bh-msg-card-content-right" data-name="' + user
              .email + '">' +
              '<div class="bh-msg-container-send">' + msg.body +
              '<span class="bh-msg-time-send">' + moment(msg.createdAt).format('MMMM Do YYYY, h:mm a') +
              '</span>' +
              '</div>' +
              '<div class="bh-img-cont-msg">' +
              ' <img src="' + image + '" class="rounded-circle bh-user-img-msg">' +
              '</div>';
          } else {
            var content =
              '<div class="d-flex justify-content-start mb-4 bh-msg-card-content-left" data-name="' + user
              .email + '">' +
              '<div class="bh-img-cont-msg">' +
              ' <img src="' + image + '" class="rounded-circle bh-user-img-msg">' +
              '</div>' +
              '<div class="bh-msg-container">' + msg.body +
              '<span class="bh-msg-time">' + moment(msg.createdAt).format('MMMM Do YYYY, h:mm a') + '</span>' +
              '</div>';

          }
          $('.bh-msg-card-body').append(content);
          $('textarea[name="message"]').val("");
          var mydiv = $(".bh-msg-card-body");
          mydiv.scrollTop(mydiv.prop("scrollHeight"));
          
        }
      })
      $('body').on('click', '#btn-item', function () {

        if ($("div.bh-items-wrapper").is(":hidden")) {
          $("div.bh-items-wrapper").slideDown("slow");
          $("div.bh-chat-wrapper").hide();
        }
      });
      $('body').on('click', '.bh-close-items-list', function () {
        $("div.bh-items-wrapper").hide();
        $("div.bh-chat-wrapper").slideDown();
      });
      $('body').on('keypress click', 'div.bh-ing' ,function (e) {  
       var ingId=$(this).attr('data-ing-id');
       var ingName=$(this).attr('data-ing-name');  
        $.ajaxSetup({
          headers: {
            "X-CSRF-Token": csrfToken
          }
        });
        $.ajax({
          type: "POST",
          url: base_url + "/add-ing/" + listId,
          data:{
            'ingId' : ingId,
            'ingName' : ingName
          },
          success: function (data) {


          },
          done: function () {

          }
        });
      });
      socket.on('ing', data => {
        if (data.action == 'add') {
          
            var content =
            '<div class="bh-ing" data-ing-id="'+data.ing._id+'">'+
                           ' <p>'+data.ing.name+'</p>'+
            '</div>';
          $('.do-items-text').remove();
          $('.bh-list-items').append(content);
           
        }
        else if(data.action == 'add-custom'){
          var content =
            '<div class="bh-ing" data-ing-name="'+data.ing+'">'+
                           ' <p>'+data.ing+'</p>'+
            '</div>';
          $('.do-items-text').remove();
          $('.bh-list-items').append(content);
        }
        else if(data.action=='remove'){
          console.log(data.ing);
          $('.bh-list-items > div[data-ing-id="' + data.ing +'"]').remove();
          $('.bh-list-items > div[data-ing-name="' + data.ing +'"]').remove();
        }
      })
    });
  </script>

</body>


</html>