<%- include('../partials/header.ejs') %>

<body>

  <!-- Main Content -->
  <main>

    <div class="bh-wrap">

      <div class="container">
        <section class="bh-auth-wrap">
    
              <!-- Login Form -->
              <div class="bh-auth-form">

                <a class="bh-logo" href="#">
                  <img width="250" src="images/logo.png" alt="Logo">
                </a>

                <form id="loginForm" class="bh-form-auth" action="/login" method="POST">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <div class="form-group">
                    <input type="email" class=" bh-input-purple-outline" id="email" name="email" placeholder="Email"
                      value="<%= oldInput.email %>">
                  </div>
                  <div class="form-group">
                    <input type="password" class="bh-input-purple-outline" name="password" id="password" placeholder="Password">
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-block bh-btn-purple-outline "><strong>Sign in </strong></button>
                    <p class="bh-info">
                      <small>
                        Don't have an account?
                        <a href="/register">click here</a>
                      </small>
                    </p>
                     <p class="bh-info">
                      <small>
                       Forgot password?
                        <a href="/reset">click here</a>
                      </small>
                    </p>
                  </div>
                  <% if(errorMessage !== null) {%>
                  <div class="">
                    *
                    <%= errorMessage %>
                  </div>
                  <% } %>


                </form>
              </div>
              <!-- / Login Form -->

        </section>
      </div>

    </div>

  </main>
  <!-- / Main Content -->

  <%- include('../js/global_js.ejs') %>
   <!-- Messages -->
   <%- include('../partials/messages.ejs',{messages:messages}) %>
   <!-- / Messages -->
</body>

</html>