<%- include('../partials/header.ejs') %>

<body>

  <!-- Main Content -->
  <main>

    <div class="bh-wrap">

      <div class="container">
        <section class="bh-auth-wrap">
              <!-- Registration Form -->
              <div class="bh-auth-form">

                <a class="bh-logo" href="#">
                  <img width="250" src="/images/logo.png" alt="Logo">
                </a>

                <form id="authForm" class="bh-form-auth" action="/register" method="POST" novalidate>
                 <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <div class="form-group">
                    <input type="email" class="bh-input-purple-outline" name="email" id="email" placeholder="Email"
                      value="<%= oldInput.email %>">
                  </div>
                  <div class="form-group">
                    <input type="password" class="bh-input-purple-outline" name="password" id="password" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input type="password" class="bh-input-purple-outline" name="confirm_password" id="confirm_password"
                      placeholder="Retype password">
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-block bh-btn-purple-outline "><strong>Register</strong></button>

                  </div>
                  <% if(errorMessage !== null) {%>
                  <div class="">
                    *
                    <%= errorMessage %>
                  </div>
                  <% } %>


                </form>
              </div>
              <!-- / Registration  Form -->

            </div>
    
        </section>
      </div>

    </div>

  </main>
  <!-- / Main Content -->

  <%- include('../js/global_js.ejs') %>

</body>

</html>