<%- include('../partials/header.ejs') %>

<body>

  <!-- Main Content -->
  <main>

    <div class="jumbotron vertical-center bh-wrap">

      <div class="container">
        <section class="bh-auth-wrap">
          <div class="row no-gutters">
            <div class="col-md-6 col-sm-12">

              <!-- Login Form -->
              <div class="bh-auth-form">

                <a class="bh-logo" href="#">
                  <img width="250" src="../images/logo.png" alt="Logo">
                </a>
                <% if(expired) { %>
                    <div class="bh-expired">
                        <p>Your link has expired. Please go again to forgot password.</p> 
                        <a href="/reset" class="btn btn-block bh-btn-purple-outline fill"><strong>Forgot password</strong></a>
                    </div>
                   
                <%} else {%>
                <form id="loginForm" class="bh-form-auth" action="/reset-password" method="POST">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <input type="hidden" name="userId" value="<%= userID %>">
                  <input type="hidden" name="passToken" value="<%= passToken %>">
                  
                  <div class="form-group">
                    <input type="password" class="bh-input-purple-outline" name="password" id="password" placeholder="Password">
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-block bh-btn-purple-outline "><strong>Reset password</strong></button>
                  </div>
                 


                </form>
         <%   } %>
              </div>
              <!-- / Login Form -->

            </div>
            <div class="col-md-6 col-sm-12 bh-auth-img">
            </div>
          </div>
        </section>
      </div>

    </div>

  </main>
  <!-- / Main Content -->

  <%- include('../js/global_js.ejs') %>
    <!-- Messages -->
    <%- include('../partials/messages.ejs',{messages:messages}) %>
    <!-- / Messages -->
</body>

</html>