<%- include('../partials/header.ejs') %>

<body>

  <!-- Main Content -->
  <main>

    <div class="bh-wrap">

      <div class="container">
        <section class="bh-auth-wrap">
              <!-- Reset Password Form -->
              <div class="bh-auth-form">

                <a class="bh-logo" href="#">
                  <img width="250" src="images/logo.png" alt="Logo">
                </a>

                <form id="loginForm" class="bh-form-auth" action="/reset" method="POST">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <div class="form-group">
                    <input type="email" class=" bh-input-purple-outline" id="email" name="email" placeholder="Email"
                      value="<%= oldInput.email %>">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-block bh-btn-purple-outline "><strong>Reset</strong></button>
                  </div>
                  <% if(errorMessage !== null) {%>
                    <div class="">
                      *
                      <%= errorMessage %>
                    </div>
                    <% } %>

                </form>
              </div>
              <!-- / Login Form -->

            </div>

        </section>
      </div>

    </div>

  </main>
  <!-- / Main Content -->

  <%- include('../js/global_js.ejs') %>
</body>

</html>