<%- include('../partials/header.ejs') %>

<body>

  <%- include('../partials/nav.ejs',{user: user}) %>


  <!-- Main Content -->
  <main class="bh-main">
    <div class="container">
      <form method="POST" action="/add-members/<%= listId %>">
         <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="bh-list-wrapper bh-members-wrapper">
          <img class="img-fluid " src="../images/couple-shopping.png">
          <p class="bh-shop">* Shop together. You can add members to you lists!</p>

          <div class="bh-members">
            <div class="row">
              <div class="col-md-12">
                <input type="email" class="bh-input-purple-outline" name="email" placeholder="Enter email">
                <i class="fas fa-times bh-fa-white delete-member"></i>
              </div>

            </div>
          </div>
          <div class="row">
            <div id="add-member" class="col-lg-12 bh-add-more">
              <i class="fas fa-user-plus bh-fa-white"></i> Add more people
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="bh-btn-purple-outline ">Send invitations</button>
            </div>

          </div>
        </div>
      </form>

    </div>
  </main>

  <!-- / Main Content -->


  <!-- / Main Content -->
  <%- include('../js/global_js.ejs') %>
  <!-- Messages -->
  <%- include('../partials/messages.ejs',{messages:messages}) %>
  <!-- / Messages -->

  <script>
    function makeid() {
      var text = "";
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

      for (var i = 0; i < 5; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));
      return text;
    }

    function deleteMemberButton() {
      var num = $('.bh-members div.row').length;
      if (num == 1) {
        $('.delete-member').hide();
      } else {
        $('.delete-member').show();
      }
    }


    $(document).ready(function () {
      deleteMemberButton();
      $('#add-member').on('click', function () {
        var randomID = makeid();

        newRow =
          '<div class="row">' +
          '<div class="col-md-12">' +
          '<input type="email" class="bh-input-purple-outline" name="email_' + randomID +
          '" placeholder="Enter email">' +
          '<i class="fas fa-times bh-fa-white delete-member"></i>' +
          '</div>' +
          '</div>';
        $(".bh-members").append(newRow);
        deleteMemberButton();
      });

      $('body').on('click', '.delete-member', function () {
        $(this).closest('.row').remove();
        deleteMemberButton();
      });

    });
  </script>

</body>

</html>