<%- include('../partials/header.ejs') %>

<body>

  <%- include('../partials/nav.ejs',{user: user}) %>

  <!-- Main Content -->
  <main class="bh-main">
    <div class="container">
      <div class="bh-list-wrapper">
        <form method="POST" action="/add-list">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="row">
            <div class="col-md-12">
              <input type="text" class="bh-input-purple-outline" name="name" placeholder="Enter list name">

            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="bh-btn-purple-outline">Create</button>

            </div>
          </div>

        </form>
      </div>
    </div>
  </main>

  <!-- / Main Content -->


  <!-- / Main Content -->
  <%- include('../js/global_js.ejs') %>
  <!-- Messages -->
  <%- include('../partials/messages.ejs',{messages:messages}) %>
  <!-- / Messages -->

</body>

</html>