<%- include('../partials/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/datatables/datatables.min.css" />

<body>

  <%- include('../partials/nav.ejs',{user: user}) %>

  <!-- Main Content -->
  <main class="bh-main">
    <div class="container">
      <div class="listsTable">
        <% if(lists.length > 0) { %>
        <table id="bhListsTable" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">No. of members</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% i=1 %>
            <% lists.forEach(list => { %>

            <tr>
              <td><%= i %></td>
              <td><a href="/chat/<%= list._id %>"><%= list.name %></a></td>
              <td><%= list.members.length %></td>
              <td>
                <div class="bh-actions">
                 
                  <a href="/add-members/<%= list._id %>" data-toggle="tooltip" title="Add members"><i
                      class="fas fa-user-plus"></i></a>
                 
                  <% if(list.creator._id.equals(authUser) ){ %>
                  <a href="/edit-list/<%= list._id %>" data-toggle="tooltip" title="Edit list"><i
                      class="fas fa-edit"></i></a>   
                  <a href="/delete-list/<%= list._id %>" data-toggle="tooltip" title="Delete list"><i
                      class="fas fa-trash-alt"></i></a>
                      <% } %>
                </div>
              </td>
            </tr>
            <% i++ %>
            <% }) %>

          </tbody>
        </table>
        <%   } else {%>
          <p> You don't have any lists at this time.</p>
       
        <%  } %>

      </div>

    </div>
    </div>
  </main>

  <!-- / Main Content -->


  <!-- / Main Content -->
  <%- include('../js/global_js.ejs') %>
  <!-- Messages -->
  <%- include('../partials/messages.ejs',{messages:messages}) %>
  <!-- / Messages -->

  <!-- Datatables -->
  <script src="/js/lib/datatables/jquery.dataTables.js"></script>
  <script src="/js/datatableLists.js"></script>
  <!-- /Datatables -->

</body>

</html>