<%- include('../partials/header.ejs') %>

<body>

  <%- include('../partials/nav.ejs',{user: user}) %>

  <!-- Main Content -->
  <main class="bh-main">
    <div class="container">
      <div class="bh-list-wrapper">
        <form method="POST" action="/edit-list/<%= list._id %>">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="row">
            <div class="col-md-12">
              <input type="text" class="bh-input-purple-outline" name="name" value="<%= list.name %>">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="bh-list-members-wrapper">
                <p class="bh-list-members"><i class="fas fa-users"></i>Members</p>
                <ul>
                  <% list.members.forEach(function(member) { %>
                  <li><%= member.email %>
                    <% if(!list.creator._id.equals(member._id) ){ %>
                    <a href="/delete-member/<%= member._id %>/<%= list._id %>" class="bh-delete-member" data-toggle="tooltip" title="Delete member"> <i
                        class="fas fa-times"></i></a>
                    <%   }else {%>
                      <a href="#" class="bh-delete-member" data-toggle="tooltip" title="Admin"> <i
                          class="fas fa-user-cog"></i></a>

                   <% } %>

                  </li>
                  <% }); %>


                </ul>
              </div>

            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="bh-btn-purple-outline">Save</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </main>

  <!-- / Main Content -->


  <!-- / Main Content -->
  <%- include('../js/global_js.ejs') %>
  <!-- Messages -->
  <%- include('../partials/messages.ejs',{messages:messages}) %>
  <!-- / Messages -->

</body>

</html>