<%- include('../partials/header.ejs') %>

<body>

  <!-- Main Content -->
  <main>

    <div class="bh-wrap">

      <div class="container">
        <section class="bh-auth-wrap">     
            <div >
              <!-- Invitation Form -->
              <div class="bh-auth-form">

                <a class="bh-logo" href="#">
                  <img width="250" src="../../images/logo.png" alt="Logo">
                </a>

                <form id="invitationForm" class="bh-form-auth" action="/invitation" method="POST">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <input type="hidden" name="listId" value="<%= listId %>">
                  <h1>Your invitation</h1>
               
                  <% if(userExist != 0) { %>
                       <p><strong><%= listOwner.email %></strong> shared the list <strong><%= list.name %></strong>
                    with you.Click login to see the list.
                  </p>
                  <a href="/" class="btn btn-block bh-btn-purple-outline ">Login</a>
                  <%} else { %>
                   <p><strong><%= listOwner.email %></strong> wants to share the list <strong><%= list.name %></strong>
                    with you. Create your account and join the list.
                  </p> 
                  
                  <div class="form-group">
                    <input type="email" class=" bh-input-purple-outline" id="email" name="email" value="<%=email %>"
                      readonly>
                  </div>
                  <div class="form-group">
                    <input type="password" class="bh-input-purple-outline" name="password" id="password"
                      placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input type="password" class="bh-input-purple-outline" name="confirm_password" id="confirm_password"
                      placeholder="Retype password">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-block bh-btn-purple-outline "><strong>Join the list
                      </strong></button>

                  </div>
                  <% } %>

                </form>
              </div>
              <!-- / Invitation Form -->
            </div>  
        </section>
      </div>

    </div>

  </main>
  <!-- / Main Content -->

  <%- include('../js/global_js.ejs') %>
  <!-- Messages -->
  <%- include('../partials/messages.ejs',{messages:messages}) %>
  <!-- / Messages -->
</body>

</html>