<%- include('../partials/header.ejs') %>

<body>

  <%- include('../partials/nav.ejs',{user: user}) %>



  <!-- Main Content -->
  <div class="container">
    <div class="row ">
      <div class="bh-buttons-wrap">
        <a href="/add-list" class="bh-btn bh-btn-purple-outline fill">Create new <i class="fas fa-plus"></i></a>
        <a href="/all-lists" class="bh-btn bh-btn-all bh-btn-purple-outline">View all</i></a>
      </div>
    </div>
  </div>


  <!-- / Main Content -->
  <%- include('../js/global_js.ejs') %>
  <!-- Messages -->
  <%- include('../partials/messages.ejs',{messages:messages}) %>

  <!-- / Messages -->


</body>

</html>