<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="17x17" href="/images/icon-flat.png">
  <title>
    <%= pageTitle %>
  </title>

  <%- include('../css/global_css.ejs') %>

</head>