<% if(messages.length > 0){ %>
<% if (messages[0].type =='error') { %>
<script>
  $(document).ready(function () {
    swal({
      icon: "error",
      text: "<%=messages[0].msg%>",
      type: "error",
      button: false,

    });
  });
</script>
<% } %>

<% if (messages[0].type =='success') { %>
<script>
  $(document).ready(function () {
    swal({
      icon: "success",
      text: "<%=messages[0].msg%>",
      type: "success",
      button: false
    });
  });
</script>
<% } %>
<%} %>