 <nav class="navbar navbar-expand-lg navbar-light bh-navbar">
    <div class="container">
      <nav class="navbar navbar-light">

        <button id="side_panel_toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>

      </nav>
      <a class="navbar-brand" href="#">
        <img src="../images/icon.png" width="60" height="50" alt="Bring Home!">
      </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link bh-navlink-left" href="/">Lists <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle bh-navlink-right" href="#" id="bh-user" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <%= user.email %>
            </a>
            <div class="dropdown-menu" aria-labelledby="bh-user">
              <a class="dropdown-item" href="/settings">Settings</a>
              <a class="dropdown-item" href="/logout">Sign out</a>

            </div>
          </li>
        </ul>

      </div>

    </div>
  </nav>