<%- include('partials/header.ejs') %>

<body>

  <%- include('partials/nav.ejs',{user: user}) %>

  <!-- Main Content -->
  <main class="bh-main">
    <div class="container">
      <div class="bh-list-wrapper">
        <form id="settings" action="/settings" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <!-- Start Carousel -->
          <div id="choose-avatar" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item 
              <% if(user.avatar == 'universal.png' || user.avatar == undefined) { %> active <%} %> ">
                <div class="bh-settings">

                  <img class=" center-block" src="images/universal.png">
                  <input type="radio" value="universal.png" name="avatar"
                    <% if(user.avatar == 'universal.png' || user.avatar == '') { %> checked <%} %> />
                </div>

              </div>
              <div class="carousel-item <% if(user.avatar == 'woman.png' ) { %> active <%} %>">
                <div class="bh-settings">

                  <img class=" center-block" src="images/woman.png">
                  <input type="radio" value="woman.png" name="avatar" <% if(user.avatar == 'woman.png' ) { %> checked
                    <%} %> />
                </div>

              </div>
              <div class="carousel-item <% if(user.avatar == 'man.png' ) { %> active <%} %> ">
                <div class="bh-settings">
                  <img class=" center-block" src="images/man.png">
                  <input type="radio" value="man.png" name="avatar" <% if(user.avatar == 'man.png' ) { %> checked
                    <%} %> />
                </div>

              </div>
              <div class="carousel-item <% if(user.avatar == 'woman1.png' ) { %> active <%} %>">
                <div class="bh-settings">
                  <img class=" center-block" src="images/woman1.png">
                  <input type="radio" value="woman1.png" name="avatar" <% if(user.avatar == 'woman1.png' ) { %> checked
                    <%} %> />
                </div>

              </div>
              <div class="carousel-item  <% if(user.avatar == 'man1.png' ) { %> active <%} %>">
                <div class="bh-settings">
                  <img class=" center-block" src="images/man1.png">
                  <input type="radio" value="man1.png" name="avatar" <% if(user.avatar == 'man1.png' ) { %> checked
                    <%} %> />
                </div>

              </div>
              <div class="carousel-item <% if(user.avatar == 'woman2.png' ) { %> active <%} %>">
                <div class="bh-settings">
                  <img class=" center-block" src="images/woman2.png">
                  <input type="radio" value="woman2.png" name="avatar" <% if(user.avatar == 'woman2.png' ) { %> checked
                    <%} %> />
                </div>

              </div>
              <div class="carousel-item <% if(user.avatar == 'man2.png' ) { %> active <%} %>">
                <div class="bh-settings">
                  <img class=" center-block" src="images/man2.png">
                  <input type="radio" value="man2.png" name="avatar" <% if(user.avatar == 'man2.png' ) { %> checked
                    <%} %> />
                </div>

              </div>
              <div class="carousel-item  <% if(user.avatar == 'woman3.png' ) { %> active <%} %>">
                <div class="bh-settings">
                  <img class=" center-block" src="images/woman3.png">
                  <input type="radio" value="woman3.png" name="avatar" <% if(user.avatar == 'woman2.png' ) { %> checked
                    <%} %> />
                </div>

              </div>
              <div class="carousel-item  <% if(user.avatar == 'man3.png' ) { %> active <%} %>">
                <div class="bh-settings">
                  <img class=" center-block" src="images/man3.png">
                  <input type="radio" value="man3.png" name="avatar" <% if(user.avatar == 'man3.png' ) { %> checked
                    <%} %> />
                </div>

              </div>
              <div class="carousel-item  <% if(user.avatar == 'woman4.png' ) { %> active <%} %>">
                <div class="bh-settings">
                  <img class=" center-block" src="images/woman4.png">
                  <input type="radio" value="woman4.png" name="avatar" <% if(user.avatar == 'woman4.png' ) { %> checked
                    <%} %> />
                </div>

              </div>
              <div class="carousel-item  <% if(user.avatar == 'man4.png' ) { %> active <%} %>">
                <div class="bh-settings">
                  <img class=" center-block" src="images/man4.png">
                  <input type="radio" value="man4.png" name="avatar" <% if(user.avatar == 'man4.png' ) { %> checked
                    <%} %> />

                </div>

              </div>
              <div class="carousel-item  <% if(user.avatar == 'woman5.png' ) { %> active <%} %>">
                <div class="bh-settings">
                  <img class=" center-block" src="images/woman5.png">
                  <input type="radio" value="woman5.png" name="avatar" <% if(user.avatar == 'woman5.png' ) { %> checked
                    <%} %> />
                </div>

              </div>
              <div class="carousel-item  <% if(user.avatar == 'man5.png' ) { %> active <%} %>">
                <div class="bh-settings">
                  <img class=" center-block" src="images/man5.png">
                  <input type="radio" value="man5.png" name="avatar" <% if(user.avatar == 'man5.png' ) { %> checked
                    <%} %> />
                </div>

              </div>
              <div class="carousel-item  <% if(user.avatar == 'woman6.png' ) { %> active <%} %>">
                <div class="bh-settings">
                  <img class=" center-block" src="images/woman6.png">
                  <input type="radio" value="woman6.png" name="avatar" <% if(user.avatar == 'woman6.png' ) { %> checked
                    <%} %> />
                </div>

              </div>
              <div class="carousel-item  <% if(user.avatar == 'man6.png' ) { %> active <%} %>">
                <div class="bh-settings">
                  <img class=" center-block" src="images/man6.png">
                  <input type="radio" value="man6.png" name="avatar" <% if(user.avatar == 'man6.png' ) { %> checked
                    <%} %> />
                </div>

              </div>
              <div class="carousel-item  <% if(user.avatar == 'woman7.png' ) { %> active <%} %>">
                <div class="bh-settings">
                  <img class=" center-block" src="images/woman7.png">
                  <input type="radio" value="woman7.png" name="avatar" <% if(user.avatar == 'woman7.png' ) { %> checked
                    <%} %> />
                </div>

              </div>
              <div class="carousel-item  <% if(user.avatar == 'man7.png' ) { %> active <%} %>">
                <div class="bh-settings">
                  <img class=" center-block" src="images/man7.png">
                  <input type="radio" value="man7.png" name="avatar" <% if(user.avatar == 'man7.png' ) { %> checked
                    <%} %> />
                </div>

              </div>
            </div>
            <a class="carousel-control-prev" href="#choose-avatar" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#choose-avatar" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <span class="bh-text-white">* Slide and click on the avatar you want to choose</span>
          <!-- End Carousel -->
          <div class="row">
            <div class="col-md-12">
              <input type="text" class="bh-input-purple-outline" name="first_name" placeholder="Enter first name"
                value="<% if (user.first_name) { %> <%=user.first_name %> <% } %>">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input type="text" class="bh-input-purple-outline" name="last_name" placeholder="Enter last name"
                value="<% if (user.last_name) { %> <%=user.last_name %> <% }  %>">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button id="btn-save-settings" type="submit" class="bh-btn-purple-outline">Save</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </main>


  <!-- / Main Content -->
  <%- include('js/global_js.ejs') %>

</body>

</html>