/* --------------------------------------------------------
Style Sheet for McDonalds Non dimenticare

date: 2018
author: Irina A. - Digital Orange <irina@digital-orange.com>
----------------------------------------------------------*/
/* ====== FONTS ====== */
/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: 100;
  font-style: normal;
}

/* NotoSans */
@font-face {
  font-family: 'NotoSans';
  src: url("../fonts/NotoSans-Bold.eot");
  src: url("../fonts/NotoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Bold.woff2") format("woff2"), url("../fonts/NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans-Bold.ttf") format("truetype"), url("../fonts/NotoSans-Bold.svg#NotoSans-Bold") format("svg");
  font-weight: 600;
  font-style: normal;
}

/* ====== MIXINS ====== */
/* ====== / MIXINS ====== */
.bh-wrap {
  margin-bottom: 0;
  border-radius: 0;
}

.bh-auth-wrap {
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bh-auth-wrap .bh-logo {
  margin-top: 20px;
}

.bh-auth-wrap .bh-auth-form {
  background: transparent;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding: 0;
  color: #ffffff;
  -webkit-box-shadow: 1px 1px 13px 1px #000;
  box-shadow: 1px 1px 13px 1px #000;
}

.bh-auth-wrap .bh-auth-form .bh-expired {
  padding: 20px 40px;
}

.bh-auth-wrap .bh-auth-form h1 {
  text-align: center;
  color: #87404C;
}

.bh-auth-wrap .bh-auth-form .bh-info {
  margin: 0;
  text-align: left;
}

.bh-auth-wrap .bh-auth-form p {
  text-align: center;
}

.bh-auth-wrap .bh-auth-form .bh-form-auth {
  width: 100%;
  padding: 20px 40px;
}

.bh-auth-wrap .bh-auth-form .bh-input-purple-outline {
  width: 100%;
  margin: 0;
}

.bh-auth-wrap .bh-auth-img {
  background-image: url("../images/basket.jpg");
  background-size: 100% 100%;
}

.bh-navbar {
  background: #192231;
}

.bh-navbar .bh-navlink-left {
  color: #98878F !important;
  font-weight: 600;
  font-size: 24px;
}

.bh-navbar .bh-navlink-right {
  color: #98878F !important;
  font-weight: 600;
  font-size: 18px;
}

@media all and (max-width: 992px) {
  .navbar-collapse {
    text-align: center;
  }
  .navbar-collapse .dropdown-menu {
    text-align: center;
    background: transparent;
    border: 0;
  }
  .navbar-collapse .dropdown-menu a {
    color: #98878F;
  }
  .navbar-collapse .dropdown-menu a:hover {
    background-color: rgba(218, 218, 218, 0.1);
  }
}

.bh-buttons-wrap {
  width: 300px;
  height: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.bh-buttons-wrap .bh-btn {
  line-height: 60px;
  height: 58px;
  text-decoration: none;
}

.bh-buttons-wrap .bh-btn:hover {
  background: #87404C;
  color: #ffffff !important;
}

.bh-buttons-wrap .bh-btn-all {
  margin-top: 30px;
}

.bh-list-wrapper {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: #ffffff;
  -webkit-box-shadow: 1px 1px 13px 1px #000;
  box-shadow: 1px 1px 13px 1px #000;
}

.bh-list-wrapper button {
  margin: 30px;
}

.bh-list-wrapper .bh-list-members-wrapper {
  margin: 10px 40px;
}

.bh-list-wrapper .bh-list-members-wrapper .bh-list-members {
  text-transform: uppercase;
  font-weight: 600;
}

.bh-list-wrapper .bh-list-members-wrapper .bh-list-members i {
  padding: 0 10px;
}

.bh-list-wrapper .bh-list-members-wrapper ul li {
  text-align: left;
  max-width: 300px;
}

.bh-list-wrapper .bh-list-members-wrapper ul li a {
  float: right;
  color: #87404C;
  opacity: 0.8;
}

.bh-list-wrapper .bh-list-members-wrapper ul li a i {
  min-width: 30px;
  text-align: left;
}

.bh-members-wrapper .bh-shop {
  color: #ffffff;
  margin-top: 15px;
}

.bh-members-wrapper .bh-add-more {
  color: #ffffff;
}

.bh-members-wrapper .bh-add-more:hover {
  cursor: pointer;
}

.bh-members-wrapper button {
  margin: 30px;
}

.bh-fa-white {
  color: #ffffff;
}

.listsTable p {
  color: white;
}

.listsTable #bhListsTable_filter input {
  font-style: normal;
  font-weight: 400;
  border: 1px solid #ffffff;
  color: #ffffff;
  background: transparent;
  padding: 8px;
  height: 40px;
  text-align: center;
  font-size: 20px;
}

.listsTable #bhListsTable {
  color: #ffffff;
  background-color: transparent;
  -webkit-box-shadow: 1px 1px 13px 1px #000;
  box-shadow: 1px 1px 13px 1px #000;
}

.listsTable #bhListsTable thead {
  background-color: transparent !important;
  text-transform: uppercase;
}

.listsTable #bhListsTable thead th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  text-align: center;
}

.listsTable #bhListsTable tbody {
  color: #ffffff;
}

.listsTable #bhListsTable tbody tr {
  background-color: transparent !important;
}

.listsTable #bhListsTable tbody tr td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  text-align: center;
}

.listsTable #bhListsTable tbody tr td a {
  color: #ffffff;
}

.listsTable #bhListsTable tbody tr:hover {
  color: #C49F66;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.listsTable #bhListsTable tbody tr:hover td a {
  color: #C49F66;
}

.listsTable #bhListsTable tbody .bh-actions a {
  padding: 0 5px;
}

.listsTable .dataTables_wrapper .dataTables_filter label {
  color: #ffffff;
  font-weight: 600;
}

.listsTable .dataTables_wrapper .dataTables_paginate .paginate_button, .listsTable .dataTables_wrapper .dataTables_paginate .paginate_button.current, .listsTable .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  background: transparent !important;
  -webkit-box-shadow: 1px 1px 13px 1px #000;
  box-shadow: 1px 1px 13px 1px #000;
  color: #ffffff !important;
}

.listsTable .dataTables_wrapper .dataTables_paginate .paginate_button:hover, .listsTable .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .listsTable .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  color: #C49F66 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bh-chat-wrapper {
  margin-top: auto;
  margin-bottom: auto;
}

.bh-chat-wrapper .bh-card {
  height: 500px;
  border-radius: 0 !important;
  background-color: #192231 !important;
  -webkit-box-shadow: 1px 1px 13px 1px #000;
  box-shadow: 1px 1px 13px 1px #000;
}

.bh-chat-wrapper .bh-card-header {
  background-color: rgba(0, 0, 0, 0.06) !important;
  border-bottom: 0 !important;
}

.bh-chat-wrapper .bh-msg-head {
  position: relative;
}

.bh-chat-wrapper .bh-list-info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.bh-chat-wrapper .bh-list-info span {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

.bh-chat-wrapper #bh-action-menu-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.bh-chat-wrapper .bh-action-menu {
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
}

.bh-chat-wrapper .bh-action-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bh-chat-wrapper .bh-action-menu ul li {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
}

.bh-chat-wrapper .bh-action-menu ul li i {
  padding-right: 10px;
}

.bh-chat-wrapper .bh-action-menu ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.bh-chat-wrapper .bh-msg-card-body {
  overflow-y: auto;
}

.bh-chat-wrapper .bh-msg-card-body .bh-msg-card-content-left {
  position: relative;
  padding-bottom: 20px;
}

.bh-chat-wrapper .bh-msg-card-body .bh-msg-card-content-left::before {
  content: attr(data-name);
  position: absolute;
  color: white;
  top: -20px;
  left: 60px;
  font-size: 12px;
}

.bh-chat-wrapper .bh-msg-card-body .bh-msg-card-content-right {
  position: relative;
  padding-bottom: 20px;
}

.bh-chat-wrapper .bh-msg-card-body .bh-msg-card-content-right::before {
  content: attr(data-name);
  position: absolute;
  color: white;
  top: -20px;
  right: 50px;
  font-size: 12px;
}

.bh-chat-wrapper .bh-img-cont-msg {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}

.bh-chat-wrapper .bh-msg-container {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: transparent;
  padding: 10px;
  position: relative;
  border: 1px solid #87404C;
  color: #87404C;
}

.bh-chat-wrapper .bh-msg-container-send {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #C49F66;
  padding: 10px;
  position: relative;
  border: 1px solid #C49F66;
  color: #ffffff;
}

.bh-chat-wrapper .bh-msg-time-send {
  position: absolute;
  right: -40px;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  width: 150px;
}

.bh-chat-wrapper .bh-msg-time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  width: 150px;
}

.bh-chat-wrapper .bh-user-img-msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #ffffff;
}

.bh-chat-wrapper .bh-card-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
  background-color: rgba(0, 0, 0, 0.06) !important;
}

.bh-chat-wrapper .bh-type-msg {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  height: 60px !important;
  overflow-y: auto;
}

.bh-chat-wrapper .bh-type-msg:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0px !important;
}

.bh-chat-wrapper .bh-attach-btn {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.bh-chat-wrapper button {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.bh-chat-wrapper button .bh-send-btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: transparent !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.bh-chat-wrapper .bh-items-to-buy {
  position: absolute;
  top: 7px;
  right: 20px;
}

.bh-chat-wrapper .bh-items-to-buy button {
  background: url("/images/shopping-cart-icons.png");
  border: 1px solid #985E6D;
  width: 90px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.bh-chat-wrapper .bh-items-to-buy button:hover {
  cursor: pointer;
}

.bh-items-wrapper {
  margin-top: auto;
  margin-bottom: auto;
}

.bh-items-wrapper .card-body {
  padding: 0;
}

.bh-items-wrapper .bh-card {
  height: 500px;
  border-radius: 0 !important;
  background-color: #192231 !important;
}

.bh-items-wrapper .bh-card-header {
  background-color: rgba(0, 0, 0, 0.06) !important;
  border-bottom: 0 !important;
}

.bh-items-wrapper .bh-card-header .bh-items-info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.bh-items-wrapper .bh-card-header .bh-items-info span {
  font-size: 20px;
  color: white;
}

.bh-items-wrapper .bh-card-header .bh-close-items-list {
  position: absolute;
  top: 15px;
  right: 0px;
  color: #ffffff;
  width: 40px;
}

.bh-items-wrapper .bh-items-card-body {
  overflow-y: auto;
}

.bh-items-wrapper .bh-items-card-body .bh-list-items {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -ms-justify-content: initial;
  -ms-flex-line-pack: initial;
      align-content: initial;
  -webkit-box-align: initial;
          align-items: initial;
  -ms-flex-align: initial;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  color: #ffffff;
  text-align: center;
  border: 1px solid #87404C;
  height: 122px;
  overflow-y: auto;
}

.bh-items-wrapper .bh-items-card-body .bh-list-items span {
  line-height: 120px;
  margin: 0 auto;
}

.bh-items-wrapper .bh-items-card-body .accordion {
  height: 320px;
  overflow-y: auto;
}

.bh-items-wrapper .bh-items-card-body .accordion .card {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.bh-items-wrapper .bh-items-card-body .accordion .card .card-header button {
  color: #ffffff;
  text-transform: uppercase;
}

.bh-items-wrapper .bh-items-card-body .accordion .card .card-body {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -ms-justify-content: initial;
  -ms-flex-line-pack: initial;
      align-content: initial;
  -webkit-box-align: initial;
          align-items: initial;
  -ms-flex-align: initial;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  color: #ffffff;
}

.bh-lists-wrapper .bh-lists {
  height: 500px;
  border-radius: 0 !important;
  background-color: #192231 !important;
  -webkit-box-shadow: 1px 1px 13px 1px #000;
  box-shadow: 1px 1px 13px 1px #000;
}

.bh-lists-wrapper .bh-lists .bh-card-header {
  background-color: rgba(0, 0, 0, 0.06) !important;
  border-bottom: 0 !important;
}

.bh-lists-wrapper .bh-lists .bh-card-header .bh-list-info {
  margin: 0 auto;
}

.bh-lists-wrapper .bh-lists .bh-card-header .bh-list-info img {
  width: 75px;
}

.bh-lists-wrapper .bh-lists .bh-card-header .bh-list-info span {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.bh-lists-wrapper .bh-lists .bh-lists-card-body {
  overflow-y: auto;
  padding: 0;
}

.bh-lists-wrapper .bh-lists .bh-lists-card-body .list-group-item {
  background: transparent;
  color: #ffffff;
}

.bh-lists-wrapper .bh-lists .bh-lists-card-body .list-group-item a {
  color: #ffffff;
  text-decoration: none;
}

.bh-lists-wrapper .bh-lists .bh-lists-card-body .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bh-lists-wrapper .bh-lists .bh-lists-card-body .list-group-item .bh-num-users {
  position: absolute;
  top: 5px;
  right: 15px;
  border: 1px solid #ffffff;
  padding: 5px;
  letter-spacing: 1px;
}

.bh-ing {
  position: relative;
  width: 130px;
  height: 80px;
  background: #87404C;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
}

.bh-ing p {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  text-decoration: none;
}

/* width */
.scroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #87404C;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #87404C;
}

.bh-settings {
  position: relative;
  min-height: 260px;
}

.bh-settings img {
  min-height: 223px;
}

.bh-settings input[type="radio"] {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  outline: none;
  width: 200px;
  height: 215px;
  left: 200px;
  top: 5px;
  cursor: pointer;
}

.bh-settings input[type="radio"]:checked {
  -webkit-box-shadow: 0 0px 1px 0 rgba(255, 255, 255, 0.2), 0 7px 20px 0 rgba(255, 255, 255, 0.19);
          box-shadow: 0 0px 1px 0 rgba(255, 255, 255, 0.2), 0 7px 20px 0 rgba(255, 255, 255, 0.19);
}

body,
html {
  height: 100%;
  margin: 0;
  min-height: 100vh;
  background: url("../images/background.png");
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: cover;
}

a {
  color: #87404C;
  font-weight: 600;
}

a:hover {
  color: #87404C;
}

.bh-error-msg {
  color: #ffffff;
}

.bh-text-white {
  color: #ffffff;
}

.bh-input-purple-outline {
  font-family: AvenirNextLTPro-Regular, "Avenir Next", sans-serif;
  font-style: normal;
  font-weight: 400;
  border: 1px solid transparent;
  color: #ffffff;
  background: rgba(218, 218, 218, 0.1);
  padding: 8px;
  margin: 1rem;
  height: 58px;
  text-align: center;
  font-size: 20px;
  width: 80%;
}

.bh-input-purple-outline:hover {
  border-color: #87404C;
  color: #87404C;
  background: 0 0;
}

.bh-btn-purple-outline {
  font-size: 1.2rem;
  font-family: AvenirNextLTPro-Demi, "Avenir Next", sans-serif;
  font-weight: 400;
  color: #87404C;
  line-height: 50px;
  letter-spacing: 2px;
  border: 1px solid #87404C;
  padding: 0 50px;
  display: inline-block;
  text-align: center;
  background: 0 0;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0;
}

.bh-btn-purple-outline:hover {
  background-color: #87404C;
  color: #ffffff;
  border-color: #87404C;
}

.bh-btn-purple-outline.fill {
  background: #87404C;
  color: #ffffff;
}

.bh-btn-purple-outline.fill:hover {
  background: 0 0;
  color: #87404C !important;
}

.bh-main {
  padding-top: 50px;
}

#side_panel_toggle {
  background: transparent;
  width: 40px;
  height: 40px;
  color: #ffffff;
  border: none;
  font-size: 2rem;
}

.bh-buttons-index {
  padding: 50px;
}
/*# sourceMappingURL=styles.css.map */