@import "partials/variables";
@import "partials/auth";
@import "partials/navbar";
@import "partials/lists";
@import "partials/chat";
@import "partials/settings";



body,
html {
  height: 100%;
  margin: 0;
  min-height: 100vh;
  background: url("../images/background.png");
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: cover;

}
a{
  color: $sunset;
  font-weight: 600;
  &:hover{
    color: $sunset;

  }
}
.bh-error-msg{
   color: $white;
}

.bh-text-white {
  color: $white;
}

.bh-input-purple-outline {
  font-family: AvenirNextLTPro-Regular, "Avenir Next", sans-serif;
  font-style: normal;
  font-weight: 400;
  border: 1px solid transparent;
  color: $white;
  background: rgba(218, 218, 218, .1);
  padding: 8px;
  margin: 1rem;
  height: 58px;
  text-align: center;
  font-size: 20px;
  width: 80%;

  &:hover {
    border-color: $sunset;
    color: $sunset;
    background: 0 0;
  }
}

.bh-btn-purple-outline {
  font-size: 1.2rem;
  font-family: AvenirNextLTPro-Demi, "Avenir Next", sans-serif;
  font-weight: 400;
  color: $sunset ;
  line-height: 50px;
  letter-spacing: 2px;
  border: 1px solid $sunset;
  padding: 0 50px;
  display: inline-block;
  text-align: center;
  background: 0 0;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0;

  &:hover {
    background-color: $sunset;
    color: $white;
    border-color: $sunset;
  }
  &.fill{
    background: $sunset;
    color:$white;
    &:hover{
      background: 0 0;
      color:$sunset !important;
    }
  }
}

.bh-main {
  padding-top: 50px;
}

#side_panel_toggle {
  background: transparent;
  width: 40px;
  height: 40px;
  color: $white;
  border: none;
  font-size: 2rem;
}
.bh-buttons-index{
  padding: 50px;
}