<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-select.min.css" rel="stylesheet">


<!-- FontAwesome Icons -->
<link href="/css/fa-all.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/css/styles.css" rel="stylesheet">