.bh-wrap {
  margin-bottom: 0;
  border-radius: 0;
}

.bh-auth-wrap {
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  .bh-logo {
    margin-top: 20px;
  }

  .bh-auth-form {
    background: transparent;
    @include flex(center, center, center, row, wrap);
    height: 100%;
    width: 100%;
    padding: 0;
    color: $white;
    @include box-shadow(1px 1px 13px 1px #000);
    .bh-expired{
      padding: 20px 40px;
    }
    h1{
      text-align: center;
      color: $sunset;
    }
    .bh-info{
      margin: 0;
      text-align: left;
    }
    p{
      text-align: center;
    }
    .bh-form-auth {
      width: 100%;
      padding: 20px 40px;

    }
    .bh-input-purple-outline{
        width: 100%;
        margin: 0;
    }
  }

  .bh-auth-img {

    background-image: url("../images/basket.jpg");
    background-size: 100% 100%;
  }

}