.bh-chat-wrapper {
    margin-top: auto;
    margin-bottom: auto;

    .bh-card {
        height: 500px;
        border-radius: 0 !important;
        background-color: $evening !important;
        @include box-shadow(1px 1px 13px 1px #000);
    }

    .bh-card-header {
        background-color: rgba(0, 0, 0, 0.06) !important;
        border-bottom: 0 !important;
    }

    .bh-msg-head {
        position: relative;
    }

    .bh-list-info {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;
    }

    .bh-list-info span {
        font-size: 20px;
        color: white;
        text-transform: uppercase;
    }



    #bh-action-menu-btn {
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
        cursor: pointer;
        font-size: 20px;
    }

    .bh-action-menu {
        z-index: 1;
        position: absolute;
        padding: 15px 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border-radius: 15px;
        top: 30px;
        right: 15px;
        display: none;
    }

    .bh-action-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .bh-action-menu ul li {
        width: 100%;
        padding: 10px 15px;
        margin-bottom: 5px;
    }

    .bh-action-menu ul li i {
        padding-right: 10px;

    }

    .bh-action-menu ul li:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .bh-msg-card-body {
        overflow-y: auto;

        .bh-msg-card-content-left {
            position: relative;
            padding-bottom: 20px;

            &::before {
                content: attr(data-name);
                position: absolute;
                color: white;
                top: -20px;
                left: 60px;
                font-size: 12px;

            }
        }

        .bh-msg-card-content-right {
            position: relative;
            padding-bottom: 20px;

            &::before {
                content: attr(data-name);
                position: absolute;
                color: white;
                top: -20px;
                right: 50px;
                font-size: 12px;

            }
        }
    }

    .bh-img-cont-msg {
        height: 40px;
        width: 40px;
        margin-left: 10px;
    }

    .bh-msg-container {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        border-radius: 25px;
        background-color: transparent;
        padding: 10px;
        position: relative;
        border: 1px solid $sunset;
        color: $sunset;
    }

    .bh-msg-container-send {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        border-radius: 25px;
        background-color: $yellow;
        padding: 10px;
        position: relative;
        border: 1px solid $yellow;
        color: $white;
    }

    .bh-msg-time-send {
        position: absolute;
        right: -40px;
        bottom: -15px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 10px;
        width: 150px;
    }

    .bh-msg-time {
        position: absolute;
        left: 0;
        bottom: -15px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 10px;
        width: 150px;
    }

    .bh-user-img-msg {
        height: 40px;
        width: 40px;
        border: 1.5px solid $white;

    }

    .bh-card-footer {
        border-radius: 0 0 15px 15px !important;
        border-top: 0 !important;
        background-color: rgba(0, 0, 0, 0.06) !important;
    }

    .bh-type-msg {
        background-color: rgba(0, 0, 0, 0.3) !important;
        border: 0 !important;
        color: white !important;
        height: 60px !important;
        overflow-y: auto;
    }

    .bh-type-msg:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

    .bh-attach-btn {
        border-radius: 15px 0 0 15px !important;
        background-color: rgba(0, 0, 0, 0.3) !important;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
    }

    button {
        background-color: rgba(0, 0, 0, 0.3) !important;

        .bh-send-btn {
            border-radius: 0 15px 15px 0 !important;
            background-color: transparent !important;
            border: 0 !important;
            color: white !important;
            cursor: pointer;
        }
    }


    .bh-items-to-buy {
        position: absolute;
        top: 7px;
        right: 20px;

        button {
            background: url('/images/shopping-cart-icons.png');
            border: 1px solid #985E6D;
            width: 90px;
            height: 40px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;

            &:hover {
                cursor: pointer;
            }
        }
    }

}

.bh-items-wrapper {
    margin-top: auto;
    margin-bottom: auto;

    .card-body {
        padding: 0;
    }

    .bh-card {
        height: 500px;
        border-radius: 0 !important;
        background-color: $evening !important;
    }

    .bh-card-header {
        background-color: rgba(0, 0, 0, 0.06) !important;
        border-bottom: 0 !important;

        .bh-items-info {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 15px;
        }

        .bh-items-info span {
            font-size: 20px;
            color: white;
        }

        .bh-close-items-list {
            position: absolute;
            top: 15px;
            right: 0px;
            color: $white;
            width: 40px;
        }
    }




    .bh-items-card-body {
        overflow-y: auto;

        .bh-list-items {
            @include flex(initial, initial, initial, row, wrap);
            color: $white;
            text-align: center;
            border: 1px solid $sunset;
            height: 122px;
            overflow-y: auto;

            span {
                line-height: 120px;
                margin: 0 auto;
            }

        }

        .accordion {
            height: 320px;
            overflow-y: auto;

            .card {
                border-radius: 0;
                background-color: rgba(0, 0, 0, 0.250);

                .card-header {
                    button {
                        color: $white;
                        text-transform: uppercase;
                    }
                }

                .card-body {
                    @include flex(initial, initial, initial, row, wrap);
                    color: $white;


                }

            }
        }
    }

}

.bh-lists-wrapper {
    .bh-lists {
        height: 500px;
        border-radius: 0 !important;
        background-color: $evening !important;
        @include box-shadow(1px 1px 13px 1px #000);

        .bh-card-header {
            background-color: rgba(0, 0, 0, 0.06) !important;
            border-bottom: 0 !important;

            .bh-list-info {
                margin: 0 auto;

                img {
                    width: 75px;
                }
            }

            .bh-list-info span {
                font-size: 20px;
                color: white;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 600;
            }
        }

        .bh-lists-card-body {
            overflow-y: auto;
            padding: 0;

            .list-group-item {
                background: transparent;
                color: $white;

                a {
                    color: $white;
                    text-decoration: none;
                }

                &:first-child {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }

                .bh-num-users {
                    position: absolute;
                    top: 5px;
                    right: 15px;
                    border: 1px solid $white;
                    padding: 5px;
                    letter-spacing: 1px;

                }
            }
        }
    }

}

//Ingredient Box
.bh-ing {
    position: relative;
    width: 130px;
    height: 80px;
    background: $sunset;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;

    p {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        text-decoration: none;

    }
}

// Scroll Bar 
/* width */
.scroll::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
    background: $white;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
    background: $sunset;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
    background: $sunset;
}