//Lists Page
.bh-buttons-wrap {
  width: 300px;
  height: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;


  .bh-btn {
    line-height: 60px;
    height: 58px;
    text-decoration: none;

    &:hover {
      background: $sunset;
      color: $white !important;
    }
  }


  .bh-btn-all {
    margin-top: 30px;
  }
}


.bh-list-wrapper {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: $white;
  @include box-shadow(1px 1px 13px 1px #000);

  button {
    margin: 30px;
  }
   .bh-list-members-wrapper {
     margin: 10px 40px;

     .bh-list-members {
       text-transform: uppercase;
       font-weight: 600;

       i {
         padding: 0 10px;
       }
     }


     ul {


       li {
         text-align: left;
          max-width: 300px;

         a {
           float: right;
           color: $sunset;
           opacity: 0.8;
           i{
             min-width: 30px;
             text-align: left;
           }
         }
       }
     }
   }
}


// Members
.bh-members-wrapper {
  .bh-shop {
    color: $white;
    margin-top: 15px;

  }

  .bh-add-more {
    color: $white;

    &:hover {
      cursor: pointer;
    }
  }

  button {
    margin: 30px;
  }
}

.bh-fa-white {
  color: $white;
}

//Lists table
.listsTable {
  p{
    color:white;
  }
  #bhListsTable_filter{
    input{
      font-style: normal;
      font-weight: 400;
      border: 1px solid $white;
      color: $white;
      background: transparent;
      padding: 8px;
      height: 40px;
      text-align: center;
      font-size: 20px;
    }
  }
  #bhListsTable {
    color: $white;
    background-color: transparent;
    @include box-shadow(1px 1px 13px 1px #000);
    thead {

      background-color:transparent !important;
      text-transform: uppercase;

      th {
        border-bottom: 1px solid rgba(0, 0, 0, .125);
        text-align: center;
      }
    }

    tbody {
      color: $white;

      tr {
        background-color: transparent !important;
        td {
          border-bottom: 1px solid rgba(0, 0, 0, .125);
          text-align: center;

          a {
            color: $white;
          }
        }

        &:hover {
          color: $yellow;
          @include transit(0.3s);
          td {
            a {

              color: $yellow;

            }
          }
        }
      }

      .bh-actions {
        a {
          padding: 0 5px;
        }
      }
    }
  }

  .dataTables_wrapper {
    .dataTables_filter{
      label{
        color: $white;
        font-weight: 600;
      }
      
    }
    .dataTables_paginate {
      .paginate_button , .paginate_button.current , .paginate_button.disabled{
        background: transparent !important;
        @include box-shadow(1px 1px 13px 1px #000);
        color: $white !important;
        &:hover{
          color: $yellow !important;
          @include transit(0.3s);
        }
      }
    }
  }

}