.bh-navbar{
  background: $evening;

   .bh-navlink-left{
    color: $cloud !important;
    font-weight: 600;
    font-size: 24px;
  }
  .bh-navlink-right{
    color: $cloud !important;
    font-weight: 600;
    font-size: 18px;
  }
}

 @media all and (max-width: 992px) {
 .navbar-collapse{
   text-align: center;
   .dropdown-menu{
     text-align: center;
     background: transparent;
     border: 0;
    a{
       color:$cloud;
       &:hover{
        background-color: rgba(218, 218, 218, 0.1);
       }
    }
   }
 }
 }