.bh-settings{
  position: relative;
  min-height: 260px;
  img{
    min-height: 223px;
  }
  input[type="radio"]{
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: 200px;
    height: 215px;
    left: 200px;
    top: 5px;
    cursor: pointer;
    &:checked{
      box-shadow: 0 0px 1px 0 rgba(255, 255, 255, 0.2),
      0 7px 20px 0 rgba(255, 255, 255, 0.19);
    }
  }
}