/* --------------------------------------------------------
Style Sheet for McDonalds Non dimenticare

date: 2018
author: Irina A. - Digital Orange <irina@digital-orange.com>
----------------------------------------------------------*/
/* ====== FONTS ====== */
/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype'),
    url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.eot');
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Light.woff2') format('woff2'),
    url('../fonts/Montserrat-Light.woff') format('woff'),
    url('../fonts/Montserrat-Light.ttf') format('truetype'),
    url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 100;
  font-style: normal;
}

/* NotoSans */
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans-Bold.eot');
  src: url('../fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSans-Bold.woff2') format('woff2'),
    url('../fonts/NotoSans-Bold.woff') format('woff'),
    url('../fonts/NotoSans-Bold.ttf') format('truetype'),
    url('../fonts/NotoSans-Bold.svg#NotoSans-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}

/* ====== MIXINS ====== */
@mixin stack() {
  position: relative;
  display: block;
  float: left;
  width: 100%;
}

@mixin abs-center() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

@mixin hor-center() {
  left: 50%;
  transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
}

@mixin ver-center() {
  top: 50%;
  transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
}

@mixin transform($t) {
  transform: $t;
  -moz-transform: $t;
  -webkit-transform: $t;
}

@mixin scale($t) {
  -webkit-backface-visibility: hidden;
  -ms-transform: $t translateZ(0);
  /* IE 9 */
  -webkit-transform: $t translateZ(0);
  /* Chrome, Safari, Opera */
  transform: $t translateZ(0);
}

@mixin rm-transform() {
  transform: none;
  -moz-transform: none;
  -webkit-transform: none;
}

@mixin box-shadow($t) {
  -webkit-box-shadow: $t;
  -moz-box-shadow: $t;
  box-shadow: $t;
}

@mixin rm-transit() {
  transform: none !important;
  -moz-transform: none !important;
  -webkit-transform: none !important;
}

@mixin bg-props($size, $position, $repeat) {
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
}

@mixin transit($t, $t2: 0) {
  @if ($t2 !=0) {
    -webkit-transition: $t, $t2;
    -moz-transition: $t, $t2;
    -o-transition: $t, $t2;
    transition: $t, $t2;
  }

  @else {
    -webkit-transition: $t;
    -moz-transition: $t;
    -o-transition: $t;
    transition: $t;
  }
}

@mixin setfont($fonttype) {
  font-family: $fonttype !important;
}

@mixin flex($just, $alignc, $aligni, $dir, $wrap) {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: $just;
  -ms-justify-content: $just;
  align-content: $alignc;
  align-items: $aligni;
  -ms-flex-align: $aligni;
  flex-direction: $dir;
  -ms-flex-direction: $dir;
  flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
}

@mixin input_placeholder($color, $weight, $size, $transform, $lheight) {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $color;
    font-size: $size;
    font-weight: $weight;
    text-transform: $transform;
    line-height: $lheight;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
    font-size: $size;
    font-weight: $weight;
    text-transform: $transform;
    line-height: $lheight;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $color;
    font-size: $size;
    font-weight: $weight;
    text-transform: $transform;
    line-height: $lheight;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: $color;
    font-size: $size;
    font-weight: $weight;
    text-transform: $transform;
    line-height: $lheight;
  }
}

@mixin remove_appearance() {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}

@mixin icon() {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

/* ====== / MIXINS ====== */
// Colors


$white: #ffffff;
$dark: #58595B;
$lightgrey: #ACACAE;
$purple:#963c63;
$powder:#8FD8D2;
$peach: #FEDCD2;
$warm: #DF744A;
$lemon: #DCB239;
$cloud:#98878F;
$evening:#192231;
$stormy:#494E6B;
// $sunset:#985E6D;
$sunset: #87404C;
$midnight:#222845;
$yellow:#C49F66;

