<!-- All Jquery -->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/jquery-ui.min.js"></script>

<!-- Bootstrap Core -->
<script src="/js/lib/popper.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/bootstrap-select.min.js"></script>

<script src="/js/lib/moment.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"></script>

<!--Custom JS -->
<script src="/js/main.js"></script>